﻿@model IEnumerable<SuffoArt.Models.Media>
@{
    ViewBag.Title = "Animacion";
}
<div class="text-center">
    <h2>PAULA SUFFO</h2>
    <br /><br />
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    AFTER EFFECTS
                </div>
            </div>
            <br />
            <div class="row bg-light rounded border p-2">
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    ANIMATE
                </div>
            </div>
            <br />
            <div class="row bg-light rounded border p-2">
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-vacio col-sm-3"></div>
                <div class="img-arte circulo-vacio col-sm-3"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    CINEMA 4D
                </div>
            </div>
            <br />
            <div class="row bg-light rounded border p-2">
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-vacio col-sm-3"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    MAYA
                </div>
            </div>
            <br />
            <div class="row bg-light rounded border p-2">
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-lleno col-sm-3"></div>
                <div class="img-arte circulo-vacio col-sm-3"></div>
                <div class="img-arte circulo-vacio col-sm-3"></div>
            </div>
        </div>
    </div>
</div>
<br /> <br />
@foreach (var item in Model)
{
    <div class="responsive-video">
        <div class="gallery bg-light p-1">
            <video height="333" controls>
                <source src="~/Recursos/uploads/Animaciones/@Html.DisplayFor(modelItem => item.Ubicacion)">
            </video>
            <button type="button" data-toggle="modal" data-target="#visualizar_@Html.DisplayFor(modelItem => item.Id)" class="btn-block">
                <div class="desc">@Html.DisplayFor(modelItem => item.Titulo)</div>
            </button>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="visualizar_@Html.DisplayFor(modelItem => item.Id)" tabindex="-1" role="dialog" aria-labelledby="visualizarTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="visualizarLongTitle">@Html.DisplayFor(modelItem => item.Titulo)</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.DisplayFor(modelItem => item.Descripcion)

                </div>
                <div class="modal-footer">
                    <div class="row">

                        <div class="col-sm-6">
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="clearfix"></div>
<br />
<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Primera Página", "ResetNumPaginaAnimacion", "Principal", new { @class = "text-white btn btn-dark bt-lg btn-block" })
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Siguiente página", "SiguientePaginaAnimacion", "Principal", new { @class = "text-white btn btn-dark bt-lg btn-block" })
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
@*
    <div class="row d-block m-2">
        <button type="button" class="btn btn-dark btn-lg btn-block">
            Ver más
        </button>
    </div>
*@