﻿
@{
    ViewBag.Title = "Inicio";
}

<div class="fondo-inicio rounded"></div>
<main class="contenido_inicio">
    <h2 class="text-center">PAULA SUFFO</h2>

    <div id="logo"></div>
    @*
        <nav class="nav justify-content-center align-bottom" id="nav_principal">
            @Html.ActionLink("bio", "Bio", "Principal", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("animación", "Animacion", "Principal", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("ilustración", "Ilustracion", "Principal", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("blog", "Blog", "Principal", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("contacto", "Contacto", "Principal", new { area = "" }, new { @class = "nav-link" })
        </nav>
    *@
</main>