﻿@model IEnumerable<SuffoArt.Models.Media>

@{
    ViewBag.Title = "AdministrarAnimaciones";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Animación
        </th>
        <th>
            Fecha de Creación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <button type="button" data-toggle="modal" data-target="#visualizar_@Html.DisplayFor(modelItem => item.Id)" class="btn btn-info">
                    <div class="desc">Clic para leer la descripción...</div>
                </button>
            </td>
            <td>
                <video height="100" controls>
                    <source src="~/Recursos/uploads/Animaciones/@Html.DisplayFor(modelItem => item.Ubicacion)">
                </video>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "EditarAnimacion", "Admin", new { id = item.Id })
                    @Html.ActionLink("Borrar", "Delete", "Admin", new { id = item.Id })
                *@
                <a class="btn btn-warning" title="Editar" href="../Admin/EditarAnimacion/@item.Id">Editar</a>
                <a class="btn btn-danger" title="Borrar" href="../Admin/Borrar/@item.Id">Borrar</a>
            </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="visualizar_@Html.DisplayFor(modelItem => item.Id)" tabindex="-1" role="dialog" aria-labelledby="visualizarTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="visualizarLongTitle">@Html.DisplayFor(modelItem => item.Titulo)</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        @Html.DisplayFor(modelItem => item.Descripcion)

                    </div>
                    <div class="modal-footer">
                        <div class="row">

                            <div class="col-sm-6">
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</table>
<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Añadir Nueva", "AñadirAnimacionesoIlustraciones", "Admin", new { @class = "text-white btn btn-primary bt-lg btn-block" })
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("Primera Página", "ResetNumPaginaAdminAnimaciones", "Admin", new { @class = "text-white btn btn-dark bt-lg btn-block" })
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("Siguiente página", "SiguientePaginaAdminAnimaciones", "Admin", new { @class = "text-white btn btn-dark bt-lg btn-block" })
    </div>
</div>
<br />
<br />
<br />
<br />
<br />