﻿@model SuffoArt.Models.MediaViewModel

@{
    ViewBag.Title = "AñadirAnimacionesoIlustraciones";
}

<h2>Añadir Animaciones o Ilustraciones</h2>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Elige el tipo de archivo...",
        Selected = true,
        Disabled = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Ilustración",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Animación",
        Value = "2"
    });

}

@using (Html.BeginForm("AñadirAnimacionesoIlustraciones", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tipo, listItems, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                @Html.TextBoxFor(model => model.Titulo, new { @type = "text", @class = "form-control", @placeholder = "Título", @required = "required" })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control col-md-6", @placeholder = "Descripción de la publicación, solo será visible en las animaciones. (Opcional)", rows ="4"})
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="custom-file form-group">
            <div class="col-md-10">
                <p class="annota"></p>
                @Html.LabelFor(model => model.Ubicacion, "Seleciona el archivo...", new { @class = "custom-file-label control-label col-md-6" })
                @Html.TextBoxFor(model => model.Ubicacion, new { @class = "custom-file-input", type = "file", @required = "required" })
                <div class="text-muted">
                    Máximo 40MB
                </div>
            </div>
        </div>

        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
