﻿@model SuffoArt.Models.Media

@{
    ViewBag.Title = "EditarAnimacion";
}

<h2>Editar Animación</h2>

@using (Html.BeginForm("Editar", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TipoMedia)
    @Html.HiddenFor(model => model.Ubicacion)
    @Html.HiddenFor(model => model.FechaCreacion)

    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control col-md-6", @placeholder = "Descripción de la publicación (Opcional)", rows = "4" })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="custom-file form-group">
        <div class="col-md-10">
            <p class="annota"></p>
            @Html.LabelFor(model => model.Ubicacion, "Seleciona el archivo...", new { @class = "custom-file-label control-label col-md-6" })
            @Html.TextBoxFor(model => model.Ubicacion, new { @class = "custom-file-input", type = "file", @required = "required" })
            <div class="text-muted">
                Máximo 40MB
            </div>
        </div>
    </div>*@
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-primary" />
        </div>
    </div>
</div>
 }
