﻿@model SuffoArt.Models.LoginViewModel
@{
    ViewBag.Title = "IniciarSesion";
}

<main class="contenido_inicio">
    @*<h2>Iniciar Sesión</h2>*@
    <form action="/Admin/IniciarSesion" method="post">
        <div class="input-group mb-3">
            @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Usuario", @required = "required" })
        </div>
        <div class="input-group mb-3">
            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Contraseña", @required = "required" })
        </div>
        <button type="submit" class="btn btn-primary col-md-12">Acceder</button>
    </form>
    <h2>pSuffo - 1234</h2>
</main>