﻿
@{
    ViewBag.Title = "PanelDeControl";
}

@*<h2>Panel De Control</h2>*@
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 botones_admin">
            @Html.ActionLink("Animaciones", "AdministrarAnimaciones", "Admin", new { area = "" }, new { @class = "btn btn-info" })
        </div>
        <div class="col-md-6 botones_admin">
            @Html.ActionLink("Ilustraciones", "AdministrarIlustraciones", "Admin", new { area = "" }, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 botones_admin">
            @Html.ActionLink("Añadir Arte", "AñadirAnimacionesOIlustraciones", "Admin", new { area = "" }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>


@*<div class="col-md-12 botones_admin">
    @Html.ActionLink("Blog", "AdministrarBlog", "Admin", new { area = "" }, new { @class = "btn btn-info" })
</div>*@
